<html lang="en" xmlns:th="http://thymeaLeaf.org">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="../static/icon.ico" th:href="@{/icon.ico}" type="image/icon">
    <title>Bar</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> <!-- jquery -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <link type="text/css" rel="stylesheet" href="../static/css/bar.css" th:href="@{/css/bar.css}"/>
    <!-- bootStrap & script -->


</head>

<body>
<!-- Registration button !!!!! -->
<header>
    <form method="get" th:action="@{/reg}" th:object="${user}" id="test">
        <button class="registration_button" id="button_Re_change" type="submit" onclick="TEST()"><span
                id="button_text_change"></span></button>
    </form>
</header>
<!-- Left side !!!!! -->
<nav>
    <form class="user_info">
        <label>
            <h4 id="text_log_name" th:text="${name_top}"></h4>
        </label>
    </form>
</nav>
<!-- Rigth side !!!!! -->
<aside>
    <label th:each="listC:${listCocktails}">
        <br>
        <form method="post" th:action="@{/get_cocktail/(id=${listC.getId()})}">
            <button type="submit" th:value="${listC.getId}"
                    th:text="${listC.getName()}"></button>
        </form>
    </label>

    <!--    <br><br><br><br><br><br><br><br><br><br>-->
    <!--    <span class="rigth_font">Сюда должен выводиться рецепт</span>-->
</aside>
<!-- Images !!!!! -->
<main>
    <!-- BG !!!!! -->
    <img src="../static/bar_Board.jpg" class="bg" th:src="@{/bar_Board.jpg}">
    <img src="../static/bar_Bg.jpg" class="bg_inside" th:src="@{/bar_Bg.jpg}">
</main>

<!-- Content !!!!! -->
<content>
    <form id="test01" method="post" th:action="@{/create_cocktails}" th:object="${cocktail}">
        <div th:object="${userDto}"></div>
        <div class="wrap">

            <!-- ////////////////////////////////////////////////////////////////////////// -->


            <div class="dropdown">
                <button class="dropbtn" type="button">Крепкие напитки</button>
                <div class="dropdown-content">
                    <label th:each="sd:${listSD}">
                        <br>
                        <input class="input_value" type="checkbox" th:value="${sd.getName()}"
                               th:text="${sd.getName()}" th:field="*{strongDrinks}"/>
                    </label>
                </div>
            </div>
            <!-- ////////////////////////////////////////////////////////////////////////// -->

            <div class="dropdown">
                <button class="dropbtn" type="button">Воды и соки</button>
                <div class="dropdown-content">
                    <label th:each="ld:${listLD}">
                        <br>
                        <input class="input_value" type="checkbox" th:value="${ld.getName()}"
                               th:text="${ld.getName()}" th:field="*{lightDrinks}"/>
                    </label>
                </div>
            </div>

            <!-- ////////////////////////////////////////////////////////////////////////// -->


            <div class="dropdown">
                <button type="button" class="dropbtn">Сиропы</button>
                <div class="dropdown-content">
                    <label th:each="md:${listMD}">
                        <br>
                        <input class="input_value" type="checkbox" th:value="${md.getName()}" th:text="${md.getName()}"
                               th:field="*{midleDrinks}"/>
                    </label>
                </div>
            </div>
        </div>
    </form>
</content>

<!-- Footer !!!!! -->
<footer>
    <button type="submit" form="test01" class="shake_button"><span>CREATE COCKTAIL</span></button>
</footer>

<!--<script src="../static/js/bar_script.js"></script>-->
<script th:inline="javascript"></script>
<script type="text/javascript" th:src="@{/js/bar_script.js}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

</body>

</html>