<html lang="en" xmlns:th="http://thymeaLeaf.org">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="../static/icon.ico" th:href="@{/icon.ico}" type="image/icon">
    <title>Bar</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> <!-- jquery -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <link type="text/css" rel="stylesheet" href="../static/css/bar.css" th:href="@{/css/bar.css}"/>
    <!-- bootStrap & script -->


</head>

<body>

<header class="general">
    <!-- registration form !!!!! -->
    <!-- Кнопка для открытия модального -->
    <button onclick="document.getElementById('id01').style.display='block'"  ><span id="button_text_change">РЕГИСТРАЦИЯ</span></button>
    <!-- Модальный (содержит форму регистрации) -->
    <div id="id01" class="modal">
        <form class="modal-content" action="/save/user" method="post" th:action="@{/save/user}" th:object="${user}">
            <div class="container">
                <h1>Форма регистрации</h1> <span onclick="document.getElementById('id01').style.display='none'"
                                                 class="close" title="Закрыть модальный">BACK</span>
                <p>Пожалуйста, заполните эту форму, чтобы создать учетную запись.</p>
                <label for="name"><b>Ваше имя</b></label>
                <select class="NO" id="name"></select>
                <input th:field=*{name} type="text" placeholder="Введите вашу почту">
                <label for="email"><b>Email</b></label>
                <select class="NO" id="email"></select>
                <input th:field=*{mail} type="text" placeholder="Введите вашу почту">
                <label for="psw"><b>Пароль</b></label>
                <select class="NO" id="psw"></select>
                <input type="password" th:field=*{pass} placeholder="Введите пароль" required>
                <label for="psw-repeat"><b>Повторить пароль</b></label>
                <select class="NO" id="psw-repeat"></select>
                <input type="password" placeholder="Повторите пароль" name="psw-repeat" required>
                <label>
                    <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Запомнить меня
                </label>
                <p>Создавая учетную запись, вы соглашаетесь с нашим <a href="#" style="color:dodgerblue">Условия и
                    конфиденциальность</a>.</p>
                <div class="clearfix">
                    <button type="submit" class="signup" >Регистрация</button>
                </div>
            </div>
        </form>
    </div>
</header>

<div class="general_div">
    <nav>
        <form class="form_for_user_date"><label>
            <h4 id="text_log_name" th:text="${name_top}"></h4>
        </label>
        </form>
    </nav>
    <!-- ////////////////////////////////////////////////////////////////////////// -->
    <div class="wrap">

        <form class="form_checkbox" id="first">
            <div class="multiselect" >
                <div class="selectBox" onclick="showCheckboxes1()">
                    <select>
                        <option class="test">Крепкие напитки(основа)</option>
                    </select>
                    <div class="overSelect" ></div>
                </div>
                <div id="checkboxes1">
                    <label for="one1" th:each="sd:${listMD}" >
                        <input type="checkbox" id="one1" th:text="${sd.getName()}" class="test1"/></label>
                </div>
            </div>
        </form>

        <!-- ////////////////////////////////////////////////////////////////////////// -->

        <form class="form_checkbox" id="second">
            <div class="multiselect">
                <div class="selectBox" onclick="showCheckboxes2()">
                    <select>
                        <option>Воды и соки</option>
                    </select>
                    <div class="overSelect"></div>
                </div>
                <div id="checkboxes2">
                    <label for="one2" th:each="ld:${listLD}">
                        <input type="checkbox" id="one2" th:text="${ld.getName()}"/></label>
                </div>
            </div>
        </form>

        <!-- ////////////////////////////////////////////////////////////////////////// -->
        <form class="form_checkbox" id="third">
            <div class="multiselect">
                <div class="selectBox" onclick="showCheckboxes3()">
                    <select>
                        <option>Сиропы</option>
                    </select>
                    <div class="overSelect"></div>
                </div>
                <div id="checkboxes3">
                    <label for="one3" th:each="md:${listMD}">
                        <input type="checkbox" id="one3" th:text="${md.getName()}"/></label>
                </div>
            </div>
        </form>
    </div>

    <aside><h3>Сюда должен выводиться рецепт</h3>
        <!--        <img src="../static/mirror.png">-->
    </aside>
</div>
<!-- ////////////////////////////////////////////////////////////////////////// -->
<!-- TEST NEW -->
<footer>
    <button type="button" class="addToShake">CREATE COCKTAIL</button>
</footer>


<script src="../static/js/bar_script.js"></script>

<script th:inline="javascript">

</script>

<script type="text/javascript" th:src="@{/js/bar_script.js}"></script>
<!-- JS -->

</body>

</html>