<html lang="en" xmlns:th="http://thymeaLeaf.org">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="../static/icon.png" type="image/icon">
    <title>Cocktail Maker </title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> <!-- jquery -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <link type="text/css" rel="stylesheet" href="../static/css/index.css" th:href="@{/css/index.css}"/>
    <!-- bootStrap & style -->

</head>

<body>

<img src="../static/startPage2.jpg" class="bg" th:src="@{../startPage2.jpg}">

<div class="general">

    <form method="get" th:action="@{/bar/without/reg}" action="bar.html">

        <div><a href="bar.html">

            <button class="newButton">
                <h4>Нажимая на кнопку <br> Вы подтверждаете что вам есть 18 лет!</h4>
            </button>

        </a></div>

    </form>


    <script src="cocktail_script.js" defer></script> <!-- JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"
            defer></script> <!-- bootStrap -->

</div>

</body>

</html>