<html lang="en" xmlns:th="http://thymeaLeaf.org">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Бар</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> <!-- jquery -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <link type="text/css" rel="stylesheet" href="../static/css/reg.css" th:href="@{/css/reg.css}"/>
    <!-- bootStrap & script -->


</head>

<body>


<!-- Модальный (содержит форму регистрации) -->
<div id="id01" class="modal">
    <form class="modal-content" action="/save/user" method="post" th:action="@{/save/user}" th:object="${user}">
        <div>
            <span class="sp">Форма регистрации</span>
            <button type="submit" onclick="validate()" class="signup">
                <span>Регистрация</span>
            </button>
            <a th:href="@{../login}"><button type="button" class="login">
                <span>Уже зарегистрирован. Вход</span>
            </button>
            </a>
        </div>
        <p>Пожалуйста, заполните эту форму, чтобы создать учетную запись.</p>
        <label><b>Ваше имя</b></label>
        <input id="form_name" th:field=*{username} type="text" placeholder="Введите ваш ник" required
               oninvalid="this.setCustomValidity('Вы не указали ник')" oninput="this.setCustomValidity(``)">
        <div style="font-style: italic; color:red;" th:if="${#fields.hasErrors}" th:error="${username}" th:each="err : ${#fields.errors('username')}" th:text="${err}">
        </div>
        <label><b>Email</b></label>
        <input id="form_mail" th:field=*{mail} type="text" placeholder="Введите вашу почту" required
               oninvalid="this.setCustomValidity('Вы не указали почту')" oninput="this.setCustomValidity(``)">
        <label><b>Пароль</b></label>
        <input id="form_pass" th:field=*{password} type="password" placeholder="Введите пароль" required
               oninvalid="this.setCustomValidity('Вы не указали пароль')" oninput="this.setCustomValidity(``)">
        <label><b>Повторить пароль</b></label>
        <input id="form_pass_rep" type="password" placeholder="Повторите пароль" name="psw-repeat" required
               oninvalid="this.setCustomValidity('Вы не указали пароль')" oninput="this.setCustomValidity(``)">
        <p>Создавая учетную запись, вы соглашаетесь с нашим <a href="#" style="color:dodgerblue">Условия и
            конфиденциальность</a>.</p>

    </form>
</div>
<script th:inline="javascript"></script>
<script type="text/javascript" th:src="@{/js/reg_script.js}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</body>

</html>