<html lang="en" xmlns:th="http://thymeaLeaf.org" xmlns="http://www.w3.org/1999/html">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Бар</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> <!-- jquery -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <link type="text/css" rel="stylesheet" href="../static/css/user_save.css" th:href="@{css/user_save.css}"/>
    <!-- bootStrap & script -->


</head>

<body style="opacity:0;transition:0.7s;">
<header class="general">
    <button type="submit" class="signup">ВЫХОД</button>
</header>

<div class="general_div">
    <nav>
        <form class="form_for_user_date"><label>
            <input class="first_input" th:value="${name}" placeholder="Здесь можно его имя"/>
        </label>
        </form>
    </nav>
    <!-- ////////////////////////////////////////////////////////////////////////// -->
    <div class="wrap">

        <form class="form_checkbox" id="first">
            <div class="multiselect">
                <div class="selectBox" onclick="showCheckboxes1()">
                    <select>
                        <option>Крепкие напитки(основа)</option>
                    </select>
                    <div class="overSelect"></div>
                </div>
                <div id="checkboxes1">
                    <label for="one1" th:each="sd ,iterStat:${listSD}">
                        <input type="checkbox" id="one1" th:text="${sd.getName()}"/></label>

                    <!--                <label for="two1">-->
                    <!--                    <input type="checkbox" id="two1"/>Second checkbox</label>-->
                    <!--                <label for="three1">-->
                    <!--                    <input type="checkbox" id="three1"/>Third checkbox</label>-->
                </div>
            </div>
        </form>

        <!-- ////////////////////////////////////////////////////////////////////////// -->

        <form class="form_checkbox" id="second">
            <div class="multiselect">
                <div class="selectBox" onclick="showCheckboxes2()">
                    <select>
                        <option>Воды и соки</option>
                    </select>
                    <div class="overSelect"></div>
                </div>
                <div id="checkboxes2">
                    <label for="one2" th:each="ld:${listLD}">
                        <input type="checkbox" id="one2" th:text="${ld.getName()}"/></label>
                </div>
            </div>
        </form>

        <!-- ////////////////////////////////////////////////////////////////////////// -->
        <form class="form_checkbox" id="third">
            <div class="multiselect">
                <div class="selectBox" onclick="showCheckboxes3()">
                    <select>
                        <option>Сиропы</option>
                    </select>
                    <div class="overSelect"></div>
                </div>
                <div id="checkboxes3">
                    <label for="one3" th:each="md:${listMD}">
                        <input type="checkbox" id="one3" th:text="${md.getName()}"/></label>
                </div>
            </div>
        </form>
    </div>

    <aside><h3>Сюда должен выводиться рецепт</h3>
        <!--        <img src="../static/mirror.png">-->
    </aside>
</div>
<!-- ////////////////////////////////////////////////////////////////////////// -->
<!-- TEST NEW -->
<footer>
    <button type="button" class="addToShake">CREATE COCKTAIL</button>
</footer>


<script src="../js/bar_script.js"></script>

<script th:inline="javascript">

    /* variable used by index.js */
    var referenceId = [[${referenceId}]];


</script>

<script type="text/javascript" th:src="@{/js/bar_script.js}"></script>
<!-- JS -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script> <!-- bootStrap -->
<script>
    $(document).ready(function () {
        $("body").css("opacity", "1");
    });
</script>
</body>

</html>